<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="ion-no-margin">
          <ion-card-header>
            <ion-card-title>😋</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ authService.user()?.name }}<br />
            {{ authService.user()?.email }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          class="ion-no-margin"
          fill="clear"
          color="danger"
          (click)="logout()"
        >
          <ion-icon
            aria-hidden="true"
            slot="start"
            name="exit-outline"
          ></ion-icon>
          Log out
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
