<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>😋</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ authService.user()?.name }}<br>
      {{ authService.user()?.email }}
    </ion-card-content>
  </ion-card>
</ion-content>
