<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Groups</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Groups</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (!groupService.fetching()) {
    <p class="ion-padding">
      @if (groupService.groups().length === 0) {
        You are not in any groups currently.
      }
      Groups allow you to share your ratings with your family and friends.
    </p>
    @if (groupService.groups().length > 0) {
      <ion-list>
        <ion-list-header>
          <ion-label>Groups you are in</ion-label>
        </ion-list-header>
        @for (group of groupService.groups(); track group.id) {
          <ion-item [routerLink]="['/home/group', group.id]" button>
            <ion-label>{{ group.name }}</ion-label>
          </ion-item>
        }
      </ion-list>
    }

    <div class="ion-text-center ion-padding">
      <ion-button fill="clear" expand="block" (click)="createGroup()">
        <ion-icon slot="start" name="add-outline"></ion-icon>
        Create New Group
      </ion-button>
      <app-create-group-modal [(isOpen)]="isCreatingGroup" />
    </div>
  }
</ion-content>
