<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input
          fill="outline"
          labelPlacement="floating"
          label="E-Mail"
          formControlName="email"
          type="email"
          inputmode="email"
          required
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input
          fill="outline"
          labelPlacement="floating"
          label="Password"
          type="password"
          formControlName="password"
          required
          minlength="8"
          clearOnEdit="false"
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" type="submit">Login</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
