<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="rate" href="/home/rate" data-test="tab-rate">
      <ion-icon aria-hidden="true" name="qr-code" />
      <ion-label>Rate</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="group" href="/home/group" data-test="tab-group">
      <ion-icon aria-hidden="true" name="people" />
      <ion-label>Group</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/home/profile" data-test="tab-profile">
      <ion-icon aria-hidden="true" name="person" />
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
