<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input
          fill="outline"
          labelPlacement="floating"
          label="Name"
          data-test="registration-name"
          formControlName="name"
          required
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input
          fill="outline"
          labelPlacement="floating"
          label="E-Mail"
          data-test="registration-email"
          formControlName="email"
          type="email"
          inputmode="email"
          required
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input
          fill="outline"
          labelPlacement="floating"
          label="Password"
          data-test="registration-password"
          type="password"
          formControlName="password"
          required
          minlength="8"
          clearOnEdit="false"
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" type="submit" data-test="registration-submit"
          >Register</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
