<ion-content [fullscreen]="true"  class="ion-padding">
  <h1 class="ion-text-center">Welcome to Geschmeckt</h1>

  <app-registration-form></app-registration-form>

  <ion-item-divider></ion-item-divider>

  <div class="ion-text-center">
    <ion-button id="open-modal" fill="clear">or log in</ion-button>
  </div>
  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Login</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <app-login-form />
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
