<ion-content [fullscreen]="true" class="ion-padding">
  <h1 class="ion-text-center">Welcome to Geschmeckt</h1>

  <ion-img class="welcome__image" [src]="randomImage" alt="" />

  <app-registration-form></app-registration-form>

  <ion-item-divider></ion-item-divider>

  <div class="ion-text-center">
    <ion-button
      fill="clear"
      data-test="welcome-login"
      (click)="isLoggingIn = true"
      >or log in</ion-button
    >
  </div>
  <app-modal [(isOpen)]="isLoggingIn" titleText="Login">
    <app-login-form (passed)="closeLoginModal()" />
  </app-modal>
</ion-content>
